---
---

@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html, body {
  font-size: 14px;
  height: 100%;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 18px;
  }
}

.gitedit {
  margin-top: 15px;
}
.breadcrumb {
  text-align: left;
}
.cl-hl {
  color: #f90000;
}
.note {
  .cl-hl {
    color: #fc0;
  }
}

ol.list-group {
  & > a {
    & > li {
      margin-left: 25px;
    }
  }
}
pre{
  font-size: inherit;
  code{
    font-size: 0.8em;
    font-family: Consolas, 'Inconsolata', monospace;
  }
}
code {
  color: inherit;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 0.8em;
  font-family: Consolas, 'Inconsolata', monospace;
}
ul, ol {
  color: inherit;
}
blockquote {
  border-left: 4px solid #4CAF50;
}
