<footer class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <p>Nội dung của website <br />&copy; {{ site.time | date: '%Y' }} sử dụng theo giấy phép bản quyền <a href="{{ site.repository }}/blob/master/LICENSE">MIT License</a>.</p>
    </div>
    <div class="col-sm-6 text-right">
      <p>
        Thiết kế và chịu trách nhiệm nội dung bởi
        <a href="/">
          <img src="/img/HC.png" height="30" alt="Hoàn Chân">
        </a>
      </p>
    </div>
  </div>
</footer>
