<nav class="navbar navbar-default"> <!-- data-spy="affix" data-offset-top="2" -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">
        <img src="/img/HC.png" alt="Hoàn Chân's Logo"> {{ site.name }}
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        {% include primary-nav.html data = site.data.nav%}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.repository }}"><span class="fa fa-github"></span> Github</a></li>
      </ul>
    </div><!-- #myNavbar -->
  </div><!-- .container-fluid -->
</nav><!-- . navbar -->
