{% comment %}
  include.data=site.data.word 
  include.posts=site.word 
  include.path="/word/"
{% endcomment %}
<div class="container text-justify"><!-- Page Content -->
    <div class="row"><!-- Content Row -->

        <div class="col-lg-3 col-sm-4"><!-- Blog Sidebar Widgets Column -->
            {% if page.url == include.path %}
                {% include p_contents.html data=include.data posts=include.posts path=include.path %}
            {% else %}
                {% include series.html posts = include.posts %}                
            {% endif %}
        </div>

        <div class="col-lg-9 col-sm-8"><!-- Blog Post Content Column -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>{{ page.title }}</h1>
                    {% include breadcrumbs.html posts = include.posts %}
                    {{ content }}
                </div>
                <div class="panel-footer">
                    {% include section_nav.html data=include.data path=include.path %}
                </div>
            </div>
        </div>
        
    </div><!-- /.row -->    
</div><!-- /.container -->
