
{% for menu in include.data %}
  {% assign target = menu.target %}
  {% unless target %} 
    {% assign target = '_self' %} 
  {% endunless %}

  {% assign current = '' %}
  {% assign child = '' %}
  {% assign adrop = '' %}

  {% if menu.child %}
    {% assign child = ' dropdown' %}
    {% assign current = ' class= "dropdown"' %}
    {% assign adrop = ' class="dropdown-toggle" data-toggle="dropdown"' %}
  {% endif %}

  {% if page.url contains menu.url %}
    {% assign current = ' class="active'| append: child | append: '"' %}
  {% endif %}
  <li{{ current }}>
    <a{{ adrop }} href="{{ menu.url }}" target="{{ target }}">
      <i class="{{ menu.icon }}"></i> 
      <span>{{ menu.text }}</span>
      {% if menu.child %}<b class="caret"></b>{% endif %}
    </a>
    {% if menu.child %}
      <ul class="dropdown-menu">
        {% include primary-nav.html data=menu.child %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
