
{% comment %}
    style = col-md-4 col-sm-6 
    data = site.data.home_items
{% endcomment %}
<section class="container text-justify">
    <div class="row text-center">
    {% for item in include.data %}
        <div class="{{ include.style }}">
            <div class="thumbnail">
                {% include image.html url = item.image alt = item.title style = item.style %}
                <div class="caption">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.content }}</p>
                    <p>
                    {% for link in item.links %}
                        <a href="{{ link.url }}" class="{{ link.class }}">{{ link.text }}</a>
                    {% endfor %}
                    </p>                    
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>