/* Intro */

.intro {
  font-size: 1.5em;

  svg {
      display: block;
      font: 3.5em Arial;
      // width: 960px;
      // height: 300px;
      margin: 0 auto;
  }

  .text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 3px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 7.5s infinite linear;
  }

  .text-copy:nth-child(1){
    stroke: #060077;
    animation-delay: -1;
  }

  .text-copy:nth-child(2){
    stroke: #02509F;
    animation-delay: -2s;
  }

  .text-copy:nth-child(3){
    stroke: #0A00CA;
    animation-delay: -3s;
  }

  .text-copy:nth-child(4){
    stroke: #0094B4;
    animation-delay: -4s;
  }

  .text-copy:nth-child(5){
    stroke: #5B0095;
    animation-delay: -5s;
  }

  @keyframes stroke-offset{
    100% {stroke-dashoffset: -35%;}
  }

}

body {
  padding-top: 0px;
  > .navbar {
    -webkit-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in;
  }
  .navbar-brand {
    padding: 13.5px 15px 12.5px;
    > img {
      display: inline;
      margin: 0 10px;
      height: 100%;
    }
  }
}